<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495139808920-5v4pmch938ajrbiphjou56r63ik948mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495139808920-5v4pmch938ajrbiphjou56r63ik948mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDe3RYct9TZXw2VhFdwYQt0zRhHIlYMcUA</string>
	<key>GCM_SENDER_ID</key>
	<string>495139808920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeDemo</string>
	<key>PROJECT_ID</key>
	<string>glivedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>glivedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495139808920:ios:a16b04dfbb27fe0243d2ed</string>
</dict>
</plist>